# vim: filetype=conf
server {
    server_name bughou 192.168.2.10;

    set  $app_root  /home/bughou/projects/bughou.com;
    root $app_root/public;

    #error_page 404 /404.html;
    index index.html index.htm;
    try_files $uri $uri/ =404;

    include fastcgi_params;
    fastcgi_param	SCRIPT_NAME		/run;
    fastcgi_param	SCRIPT_FILENAME		$app_root/run;

    location ~ \.shtml$ {
        try_files $uri $uri/ @fastcgi;
    }

    set  $fastcgi   127.0.0.1:9000;
    location ~ \.do$ {
        fastcgi_pass $fastcgi;
    }

    location @fastcgi {
        fastcgi_pass $fastcgi;
    }
}
