# vim: filetype=conf
server {
    server_name www.izheko;

    set  $app_root /home/bughou/projects/izheko.cn;
    root $app_root/public;

    index index.htm;
    try_files $uri $uri/ =404;
    #error_page 404 /404.html;

    location ~ \.html$ {
        try_files $uri $uri/ @fastcgi;
    }

    set  $fastcgi   127.0.0.1:9000;
    location ~ \.do$ {
        fastcgi_pass $fastcgi;
    }

    location @fastcgi {
        fastcgi_pass $fastcgi;
    }

    include fastcgi_params;
    fastcgi_param	SCRIPT_NAME		/run;
    fastcgi_param	SCRIPT_FILENAME		$app_root/run;
}
