#MAILTO  = ""
SHELL    = /bin/bash
app_root = APP_ROOT
#m    h     dom mon dow  command
 0    3     *   *   *    cd $app_root; php run command/item_update.cmd.php all    &>> tmp/item_update.log
50    4     *   *   *    cd $app_root; php run command/item_clear.cmd.php         &>> tmp/item_clear.log

#0    8     *   *   *    cd $app_root; php run command/item_grab.cmd.php jiu      &>> tmp/item_grab_jiu.log
 0    8     *   *   *    cd $app_root; php run command/item_grab.cmd.php shijiu   &>> tmp/item_grab_shijiu.log
 3 10,15    *   *   *    cd $app_root; php run command/item_grab.cmd.php today    &>> tmp/item_grab_today.log
 3 17,23    *   *   *    cd $app_root; php run command/item_grab.cmd.php tomorrow &>> tmp/item_grab_tomorrow.log

#*    *     *   *   *    cd $app_root; php run command/click_url_get.cmd.php      &>> tmp/click_url_get.log

