#MAILTO=""
SHELL=/bin/bash
APP_ROOT=/home/bughou/projects/izheko.cn/grab
# m   h  dom mon dow  command
  1   5  *   *   *    cd $APP_ROOT; php run command/item_clear.cmd.php    &>> tmp/item_clear.log
  3   5  *   *   *    cd $APP_ROOT; php run command/item_grab.cmd.php     &>> tmp/item_grab.log
 11   *  *   *   *    cd $APP_ROOT; php run command/item_update.cmd.php   &>> tmp/item_update.log
*/3   *  *   *   *    cd $APP_ROOT; php run command/click_url_get.cmd.php &>> tmp/click_url_get.log
#*   *  *   *   *    echo $APP_ROOT &>> other/click_url_get.log

