@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 1.5em;
    background-color: white;
}
a {
    color: black;
    text-decoration: none;
}
img {
    margin: 0;
    padding: 0;
    border-width: 0;
}

.header {
    margin: 1em 0;
}
.header img {
    vertical-align: middle;
}
.search {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 1em;
    margin-left: 5em;
    padding: 3px;
    background-color: #f27b04; 
    vertical-align: text-top;
    width: 50%;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
.search > .input_wrapper {
    padding-right: 14px;
    margin-right: 8em;
}
.search > .input_wrapper > input {
    width: 100%;
    margin: 0;
    border: none;
    padding: 7px;
    font-size: 1em;
    outline: none;
    background-color: white;
}
.search > .submit_wrapper {
    width: 8em;
    position: absolute;
    right: 0;
    top: 3px;
    text-align: center;
}
.search > .submit_wrapper > button {
    line-height: 2em;
    vertical-align: middle;
    padding: 0;
    border: none;
    color: white;
    font-size: 1em;
    font-weight: bold;
    background-color: #f27b04;
}

/* navigation */
.nav {
    margin-top: 1em;
    font-size: 1.2em;
    line-height: 2em;
    background-color: #f37c06;
}
.nav > a {
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}
.nav > a:hover {
    background-color: #f40;
}
.nav > a.on {
    background-color: #f40;
}
.clearfix {
    clear: both;
}

.content {
    margin: 2em;
    border-collapse: collapse;
}
/* item */
.item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; 
    width: 240px;
    padding: 1em;
    margin: 1em;
    border: 1px solid #eee;
    text-align: left;
    color: black;
}
.item:hover {
    border-color: #ccc;
}
.item > a > img {
    width: 240px;
    height: 240px;
}
.item > .title {
    margin: 0;
    overflow: hidden;
    line-height: 1.5em;
    height: 3em;
}
.item > .title a:hover {
    color: #c00;
}
.item .action {
    float: right;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 1.2em;
    line-height: 2em;
    font-weight: bolder;
    padding: 0 1em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    position: relative;
    behavior: url(/pie/PIE.htc);
}
.item .green {
    background-color: #393;
}
.item .yellow { 
    background-color: #f40;
}
.item .gray { 
    background-color: gray;
}
.item .gray2 {
    background-color: gray;
    font-size: 1em;
    line-height: 1.2em;
}

.item > .buy {
    white-space: nowrap;
}
.item > .buy > span {
    color: #c00;
    font-weight: bold;
}
.item > .buy > span > big {
    font-size: 2em;
}
.item > .buy > small {
    color: #aaa;
    text-decoration: line-through;
}
.item > .flags {
    height: 1.5em;
    line-height: 1.5em;
    white-space: nowrap;
}
.item > .flags > .post, .item > .flags > .vip {
    color: white;
    font-size: 0.85em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    position: relative;
    behavior: url(/pie/PIE.htc);
}

.item > .flags > .post {
    background-color: #393;
}
.item > .flags > .vip {
    background-color: #f37c06;
}

/* pagination */
.page {
    margin: 1em 0;
    padding: 1em;
}
.page > a, .page > span {
    color: #666;
    text-decoration: none;
    margin: 0 0.2em;
    padding: 0.5em 0.8em;
}
.page > a, .page > span.current_page {
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=white,endColorstr=#f0f0f0);
    background-image: -moz-linear-gradient(top,#fff,#eee);
    background-image: -webkit-linear-gradient(top,#fff,#eee);
    background-image: -ms-linear-gradient(top,#fff,#eee);
}
.page > span.current_page {
    color: white;
    font-weight: bold;
    background: none repeat scroll 0 0 #FFA405;
    border: 1px solid #FE8101;
}


.footer {
    color: #aaa;
    margin: 2em;
}

