@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "微软雅黑";
    background-color: white;
}

#main {
    margin: 10px;
}
/* item */
.item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; 
    width: 240px;
    margin: 10px;
    border: 1px solid #ccc;
    text-align: left;
    color: black;
}
.item > a {
    text-decoration: none;
}
.item:hover {
    border-color: #f90;
}
.item > a > img {
    width: 240px;
    height: 240px;
    border-width: 0;
}
.item > a > h3 { 
    margin: 0;
    padding: 0 0.5em;
    /*height: 44px;*/
    overflow: hidden;
    font: normal 14px/22px "微软雅黑";
}
.item > a > h3 > b {
    color: #393;
    border: 1px dotted #393;
}
.item > a > h3 > span {
    color: black;
}
.item > a > h3 > span:hover {
    color: #c00;
}
.item > a > div {
    margin: 0.5em 0.5em 0 0.5em;
    float: right;
    cursor: pointer;
    text-align: center;
    color: white;
    font: bolder 16px/30px "微软雅黑";
    padding: 0 1em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    position: relative;
    behavior: url(/pie/PIE.htc);
}
.item > a > div > div {
    font: bolder 14px/18px "微软雅黑";
}
.item > div {
    margin: 0.5em;
}
.item > div > span {
    color: #c00;
    font: bold 16px/30px "微软雅黑"; 
}
.item > div > span > big {
    font: bold 30px/30px "微软雅黑";
}
.item > div > sup { 
    position: relative;
    left: -2.5em;
    top: -0.8em;
    color: #393;
    border: 1px dotted #393;
    font: bold 12px/14px "微软雅黑";
}
.item > div > small {
    margin: 0; 
    color: #aaa;
    font: 14px/22px "微软雅黑"; 
    text-decoration: line-through;
}
.item > a > div.green {
    background-color: #393;
}
.item > a > div.red { 
    background-color: #e00;
}
.item > a > div.yellow { 
    color: #393;
    background-color: yellow;
}
.item > a > div.gray { 
    background-color: gray;
}

/* navigation */
#nav {
    margin-top: 10px;
    color: #db4701;
    font: normal 16px/22px "微软雅黑";
    border-width: 0 0 2px 0;
    border-bottom: 2px solid #f27b03;
}
#nav > a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 15px;
    margin-right: 3px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-width: 1px 1px 0 1px;
    color: #db4701;
    text-decoration: none;
}
#nav > a:hover {
    border-top-color: #f90;
    border-left-color: #f90;
    border-right-color: #f90;
    background-color: #f6feed;
}
#nav > a.on {
    color: white;
    border-color: #f90;
    background-color: #f37c06;
}
.clearfix {
    clear: both;
}

/* pagination */
.pagination {
    margin: 1em 0;
    padding: 1em;
}
.pagination > a, .pagination > span {
    color: #666;
    text-decoration: none;
    margin: 0 0.2em;
    padding: 0.5em 0.8em;
}
.pagination > a, .pagination > span.current_page {
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=white,endColorstr=#f0f0f0);
    background-image: -moz-linear-gradient(top,#fff,#eee);
    background-image: -webkit-linear-gradient(top,#fff,#eee);
    background-image: -ms-linear-gradient(top,#fff,#eee);
}
.pagination > span.current_page {
    color: white;
    font-weight: bold;
    background: none repeat scroll 0 0 #FFA405;
    border: 1px solid #FE8101;
}


