@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font: 12px/1.5 Tahoma, Helvetica, Arial, "宋体", sans-serif, "新宋体";
}
a {
    color: #09c;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #c00;
    text-decoration: underline;
}
h1,h2,h3,h4,h5,h6,p,img {
    margin: 0;
    padding: 0;
    border-width: 0;
    font-size: 12px;
    font-weight: normal;
}

#search, #search input, 
#navbar, #navbar a, #qq-qun,
#condition .lrc, #condition .rrc, 
#pagination a, #pagination span
{
    behavior: url(/PIE.htc)\9;
    position: relative\9;
    _behavior: none;
    _position: static;
}
