@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font: 12px/1.5 Tahoma, Helvetica, Arial, "宋体", sans-serif, "新宋体";
}
a {
    color: #06c;
    cursor: pointer;
    text-decoration: none;
}
img {
    margin: 0;
    padding: 0;
    border-width: 0;
}

#dialog_box {
    position: absolute;
    border: 5px solid #ddd;
    z-index: 9999;
}
#dialog_box b {
    display: inline-block;
    width: 12px;
    height: 10px;
    border: 1px solid white;
    background: url(/img/tool.png) 0 -19px;
    position: absolute;
    top: 5px;
    right: 5px;
}
#dialog_box b:hover {
    border-color: #ccc;
}
#dialog_box div {
    border: 1px solid #ccc;
    padding: 5px 25px 5px 10px;
    line-height: 22px;
    color: #333;
    background-color: white;
}

.sns-share b {
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url(/img/sns_icon.png?v=20130912);
}

b.sns-qq_zone    { background-position: 0 -96px; }
b.sns-sina_weibo { background-position: 0 -144px; }
b.sns-tencent_weibo { background-position: 0 -216px; }
b.sns-renren     { background-position: 0 -240px; }
b.sns-douban     { background-position: 0 -840px; }
b.sns-kaixin     { background-position: 0 -264px; }
b.sns-qq_haoyou  { background-position: 0 -3024px; }

#footprints-bar {
    display: none;
    position: absolute;
    right: 30px;
    bottom: 10px;
    color: #333;
}
#footprints-bar div {
    position: absolute;
    top: 0;
    right: 0;
}
#footprints-bar span {
    cursor: pointer;
    margin-left: 10px;
}

.footprints-item {
    /* 232px * 112px */
    width: 220px;
    height: 100px;
    margin: 5px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: 1px dashed #ccc;
}
.footprints-item .image {
    width: 100px;
    display: inline-block;
}
.footprints-item img {
    width: 80px;
    height: 80px;
    padding: 10px;
}
.footprints-item .desc {
    width: 115px;
    padding: 5px 5px 0 0;
    display: inline-block;
    vertical-align: top;
}
.footprints-item .desc a {
    color: #333;
    display: block;
    height: 72px;
    overflow: hidden;
}
.footprints-item .desc b {
    color: #e33;
}

#search {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-left: 3em;
    vertical-align: text-top;
    width: 30%;
    min-width: 15em;
    max-width: 50em;
    height: 31px;
    overflow: hidden;
    white-space: nowrap;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}
#search .input-wrapper {
    padding-right: 1em;
    margin-right: 84px;
    height: 31px;
}
#search input {
    width: 100%;
    margin: 0;
    border: none;
    padding: 7px;
    height: 17px;
    line-height: 17px;
    outline: none;
    background-color: white;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
#search button {
    position: absolute;
    right: 0;
    text-align: center;

    margin: 0;
    padding: 0;
    border: none;
    width: 80px;
    height: 22px;
    font: bold 14px/22px '';
    color: white;
    cursor: pointer;
}

#content {
    margin: 0;
    padding: 1em 0;
}

#error_content {
    margin: 4em 0;
}


#filter {
    margin: 10px 0;
} 
#filter a {
    display: inline-block;
    margin: 0 1em;
    padding: 0 20px;
    color: #5e5e5e;
    font: 14px/30px '';
    background-color: #fff;
    border: 1px solid #e2e2e2;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    _padding-top: 3px;
}
#filter a:hover,
#filter a.on {
    color: #e33;
}

#no_items {
    margin: 3em 0;
}

#item_list{
    border-collapse: collapse;
}
/* item */
.item-wrapper {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; 
    margin: 1em;
    width: 314px;
    height: 317px;
    border: solid #e2e2e2;
    border-width: 0 1px 1px 0;
}
.item-hover {
    position: relative;
}
.item {
    border: 2px solid white;
    color: black;
    background-color: #fff;
    text-align: left;
}
.item-hover .item {
    border-color: #e66;
    *position: absolute;
    *left: 0;
    *top: 0;
}
.item .pic {
    display: block;
    padding: 10px;
    width: 290px;
    height: 190px;
    line-height: 190px;
    overflow: hidden;
    text-align: center;
}
.item .pic img {
    max-width: 290px;
    max-height: 190px;
    vertical-align: middle;
}
.item .pic span {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    font-size: 0;
}
.item .title {
    padding: 5px 10px;
    overflow: hidden;
    height: 40px;
}
.item .title .type {
    font-weight: bold;
}
.item .title a {
    color: #333;
    font: 14px/20px '';
}
.item .title a:hover {
    color: #c00;
    text-decoration: underline;
}
.item .buy {
    padding: 5px 10px 18px;
    white-space: nowrap;
    position: relative;
    width: 290px;
    height: 30px;
    line-height: 30px;
    vertical-align: baseline;
}

.item .price {
    margin-right: 10px;
}
.item .price span {
    color: #e33;
    font: bold 12px '微软雅黑';
}
.item .price span big {
    font-size: 28px;
}
.item .price small {
    color: #aaa;
    font: normal 12px/18px '';
    text-decoration: line-through;
}
.item .action {
    position: absolute;
    top: 5px;
    right: 10px;
    text-align: center;
    color: white;
    width: 80px;
    height: 20px;
    font: bolder 16px/20px '微软雅黑';
    padding: 7px 0 6px 0;
    background-image: url(/img/rect.png);
}
.item .action:hover {
    opacity: 0.8;
}
.item .red {
    background-position: 0 0;
}
.item .green {
    background-position: 0 -35px;
}
.item .gray {
    background-position: 0 -70px;
}

.item .post, .item .vip {
    color: white;
    font: normal 12px/16px '微软雅黑';
    display: inline-block;
    background-image: url(/img/rect.png);
}
.item .post {
    background-position: 0 -105px;
}
.item .vip {
    background-position: -25px -105px;
}
.item .sns-share {
    margin: 10px 0;
}
.item .sns-share b {
    margin-left: 10px;
    vertical-align: -7px;
    *vertical-align: -5px;
}

.item .expand {
    display: none;
    padding: 10px;
    background-color: #f4f4f4;
    color: #aaa;
    font: normal 12px/20px '';
}
.item-hover .expand {
    display: block;
}
.item .time-left span {
    color: #999;
}
.item .expand .tip {
    border-top: 1px dotted #c5c5c5;
    padding: 5px 0;
}
.item .expand .tip span {
    color: #333;
}
#single-item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: 20px 0;
}
@media (max-width: 650px) {
    #single-item {
        width: 314px;
    }
    #single-item .right {
        display: block;
    }
}
#single-item .title {
    height: auto;
}
#single-item .title a {
    font-weight: bold;
}
#single-item .left {
    display: inline-block;
}
#single-item .sns-share {
    text-align: center;
}
#single-item .right {
    vertical-align: top;
    display: inline-block;
    width: 290px;
    padding: 10px;
    line-height: 30px;
}
#single-item .time-left span {
    font-size: 14px;
}
#single-item .tip {
    color: #9c7e6f;
    border: 1px solid #f8f3f0;
    background-color: #fcfaf9;
    font: normal 14px/30px "";
}
#single-item .action {
    display: inline-block;
    position: static;
    margin-top: 10px;
}

/* pagination */
#pagination {
    margin: 1em 0;
}
#pagination a, #pagination span {
    display: inline-block;
    margin: 5px 3px;
    padding: 5px 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#pagination a {
    color: #929292;
    text-decoration: none;
}
#pagination a.on {
    color: white;
    font-weight: bold;
    background-color: #f39;
}
#pagination a:hover {
    color: white;
    background-color: #f39;
}
#pagination span.on {
    color: #f39;
    font-weight: bold;
    background-color: #ffdcee;
}

*html{
    background-image:url(about:blank);
    background-attachment:fixed;
}
#sidebar {
    position: fixed;
    right: 1%;
    bottom: 60px;
    z-index: 99999;
    _position: absolute;
    _bottom: auto;
    _top: expression(eval(
        document.documentElement.scrollTop + document.documentElement.clientHeight - this.offsetHeight - 60
        ));
}
#sidebar div {
    position: relative;
    width:  32px;
    height: 32px;
    margin: 5px 0;
}
#sidebar a {
    display: block;
    width:  30px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: #f39;
    position: absolute;
    right: 0px;
    overflow: hidden;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#go_top a {
    background-color: #aaa;
}
#go_top a:hover {
    width: 90px;
}
#kefu a:hover {
    width: 80px;
}
#sidebar a span {
    display: block;
    padding: 4px 0 5px 10px;
    color: white;
    white-space: nowrap;
    position: absolute;
    right: 35px;
    font: 14px/22px '微软雅黑';
}
#sidebar a b {
    display: block;
    width:  17px;
    height: 17px;
    background: no-repeat url(/img/tool.png);
    position: absolute;
    top: 6px;
    right: 6px;
}
#kefu a b {
    background-position: -79px -1px;
}

#footer {
    padding: 2em 1em;
    color: white;
    background-color: #444;
    border-top: 1px solid #525252;
}
#footer span {
    display: inline-block;
}
#footer span a {
    color: white;
    display: block;
    margin-top: 10px;
}
#footer .footer-logo {
    display: inline-block;
    width: 128px;
    height: 60px;
    background: no-repeat url(/img/logo_white.png);
    vertical-align: bottom;
    margin: 0 10%;
}
@media (max-width: 500px) {
    #footer .footer-logo {
        margin: 0 2%;
    }
}
#footer div {
    color: #aaa;
    display: block;
    margin-top: 2em;
}
#footer div span {
    margin-right: 1em;
    white-space: nowrap;
}
#footer div small {
    margin-left: 2em;
    white-space: nowrap;
}
#footer div sub {
    display: none;
}
#footer div sub a {
    color: #aaa;
}
body object {
    display: none;
}
tkbox {
    margin: 3em auto;
}
