
#header {
    padding: 3px 5% 10px 5%;
    color: #fff;
    background-color: #010101;
    font-family: '微软雅黑';
}

#header .right {
    float: right;
    margin-top: 20px;
    _margin-top: 28px;
}

#phone-edition, #bookmark {
    cursor: pointer;
    margin-right:  2em;
    +vertical-align: 26px;
    _vertical-align: 23px;
}

#sns-share a {
    display: block;
    margin: 5px 0;
    white-space: nowrap;
}
#sns-share a b {
    margin-right: 5px;
    vertical-align: -7px;
    +vertical-align: -3px;
    _vertical-align: -5px;
}

#sns-share-wrapper, #footprints-wrapper {
    position: relative;
    z-index: 999;
    text-align: left;
    white-space: normal;
    display: inline-block;
    background-color: #010101;
}
#sns-share-button, #footprints-button {
    padding: 2px 3px;
    margin: 0 0 20px 20px;
}
#sns-share-button.on, #footprints-button.on {
    color: #99e000;
}
#sns-share-button b, #footprints-button b {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: 5px solid #010101;
    border-top-color: #666;
    margin-left: 5px;
    vertical-align: -4px;
}
#sns-share-button b.on, #footprints-button b.on {
    border-top-color: #99e000;
}
#sns-share, #footprints {
    display: none;
    background-color: white;
    border: 1px solid #ddd;
    position: absolute;
    top: 35px;
    _top: 30px;
    right: 0;
    z-index: 999;
}
#sns-share {
    padding: 10px;
}
#footprints {
    color: #333;
    padding: 10px 10px 30px 10px;
}
#sns-share i, #footprints i {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: 7px solid transparent;
    _border-color: pink;
    _filter: chroma(color=pink);
    border-bottom-color: white;
    position: absolute;
    top: -14px;
}
#sns-share i {
    right: 20px;
}
#footprints i {
    right: 32px;
}


.logo {
    cursor: pointer;
    display: inline-block;
    width: 128px;
    height: 60px;
    background: no-repeat url(/img/logo.png);
    vertical-align: middle;
}

#search {
    background-color: #518900; 
}
#search button {
    top: 5px;
    background-color: #518900; 
}

/* navigation */
#navbar {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #518900;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: 14px/22px '';
    _width: 100%;
}
#navbar a {
    color: #fff;
    display: inline-block;
    padding: 3px 20px;
    _padding: 5px 20px 2px 20px;
    margin: 2px 0;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#navbar a:hover {
    background-color: #4f8a00;
}
#navbar a.on {
    background-color: #4f8a00;
}

#content {
    background: url(/img3/bg.png) repeat center top;
}

#pagination a {
    background-color: #e3e3e3;
}
