
#header {
    padding: 3px 0;
}

#header .right {
    float: right;
    margin: 20px 5% 0 0;
    _margin-top: 28px;
    font: normal 12px/22px "";
}

#phone-edition, #bookmark {
    cursor: pointer;
    margin-right:  2em;
    +vertical-align: 26px;
    _vertical-align: 23px;
}

#sns-share a {
    display: block;
    margin: 5px 0;
    white-space: nowrap;
}
#sns-share a b {
    margin-right: 5px;
    vertical-align: middle;
}

#sns-share-wrapper, #footprints-wrapper {
    position: relative;
    z-index: 999;
    text-align: left;
    white-space: normal;
    display: inline-block;
}
#sns-share-button, #footprints-button {
    position: relative;
    z-index: 9999;
    padding: 5px 10px 2px 10px;
    border: 1px solid white;
    margin-left: 1em;
}
#sns-share-button.on, #footprints-button.on {
    border-color: #ddd #ddd white #ddd;
}
#sns-share-button b, #footprints-button b {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: 5px solid white;
    border-top-color: #666;
    margin-left: 5px;
    vertical-align: -4px;
}
#sns-share-button b.on, #footprints-button b.on {
    border: 5px solid white;
    border-bottom-color: #666;
    vertical-align: 1px;
}
#sns-share, #footprints {
    display: none;
    background-color: white;
    border: 1px solid #ddd;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 999;
    font: normal 12px/18px "";
}
#sns-share {
    padding: 10px;
}
#footprints {
    padding: 10px 10px 30px 10px;
}

#logo-search {
    margin: 0 5%;
}
.logo {
    cursor: pointer;
    display: inline-block;
    width: 128px;
    height: 60px;
    background: no-repeat url(/img/logo.png);
    vertical-align: middle;
}

#search {
    background-color: #ffa405; 
    padding: 3px;
    *padding: 2px 3px 3px 3px;
}
#search button {
    top: 8px;
    background-color: #ffa405;
}

/* navigation */
#navbar {
    margin-top: 10px;
    background-color: #ffa405;
    font-size: 16px;
    line-height: 32px;
    overflow: visible;
}
#navbar a {
    padding: 7px 16px;
    color: white;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
}
#navbar a:hover {
    background-color: #f40;
}
#navbar a.on {
    background-color: #f40;
}

#pagination a {
    background-color: #eee;
}

