
#header {
    padding: 3px 5%;
    color: #c2c2c2;
    background-color: #010101;
}
#header .right {
    float: right;
    margin-top: 20px;
    font: normal 12px/22px "";
}

#phone-edition, #bookmark {
    cursor: pointer;
    float: right;
    margin-right: 2em;
}

#sns-share a {
    display: block;
    margin: 5px 0;
    white-space: nowrap;
}
#sns-share a b {
    margin-right: 5px;
    vertical-align: middle;
}

#sns-share-wrapper, #footprints-wrapper {
    position: relative;
    z-index: 999;
    float: right;
    padding: 0 0 8px 2em;
    text-align: left;
    white-space: normal;
}
#sns-share-button, #footprints-button {
    position: relative;
    z-index: 9999;
}
#sns-share-button.on, #footprints-button.on {
    color: #99e000;
}
#sns-share-button b, #footprints-button b {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: 5px solid transparent;
    border-top-color: #666;
    margin-left: 5px;
    vertical-align: -4px;
}
#sns-share-button b.on, #footprints-button b.on {
    border-color: #99e000 #010101 #010101;
}
#sns-share, #footprints {
    display: none;
    background-color: white;
    border: 1px solid #ddd;
    position: absolute;
    top: 30px;
    right: 0;
    _right: -1px;
    z-index: 999;
    padding: 10px 10px 30px 10px;
    font: normal 12px/18px "";
}
#sns-share i, #footprints i {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: 6px solid transparent;
    border-bottom-color: white;
    position: absolute;
    top: -12px;
}
#sns-share i {
    right: 20px;
}
#footprints i {
    right: 32px;
}

.logo {
    vertical-align: middle;
}


#search {
    background-color: #518900; 
}
#search button {
    top: 5px;
    background-color: #518900; 
}

/* navigation */
#navbar {
    margin: 10px 0;
    line-height: 40px;
    border: 1px solid #518900;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#navbar a {
    color: #ccc;
    padding: 3px 20px;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#navbar a:hover {
    color: white;
    background-color: #4f8a00;
}
#navbar a.on {
    color: white;
    background-color: #4f8a00;
}

#content {
    background: url(/tmp/bg.png) repeat center top;
}

#pagination a {
    background-color: #e3e3e3;
}
