#no_items {
    margin: 3em 0;
}

#filter {
    margin: 10px 0;
} 
#filter a {
    display: inline-block;
    margin: 0 1em;
    padding: 0 20px;
    color: #5e5e5e;
    font-size: 14px;
    line-height: 30px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    _padding-top: 3px;
    /*
    behavior: url(/PIE.htc);
    position: relative;
    */
}
#filter a:hover,
#filter a.on {
    color: #e33;
}

#item_list{
    border-collapse: collapse;
}
/* item */
.item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: left;
    vertical-align: top; 
    border: 2px solid;
    border-color: white #e2e2e2 #e2e2e2 white;
    color: black;
    background-color: #fff;
}
#item_list .item {
    margin: 12px;
    width: 310px;
    height: 313px;
    background: #fff url(/img/logo_gray.png) no-repeat 10px 10px;
}
.item-hover {
    position: relative;
    border-color: #e66;
}
#item_list .auto-height {
    height: auto;
}
.item .pic {
    display: block;
    padding: 10px;
    width: 290px;
    height: 190px;
    line-height: 190px;
    overflow: hidden;
    text-align: center;
}
.item .pic img {
    max-width: 290px;
    max-height: 190px;
    vertical-align: middle;
}
.item .pic span {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    font-size: 0;
}
#item_list .item h1 {
    margin-top: 210px;
    overflow: hidden;
    height: 40px;
}
.item h1 {
    padding: 5px 10px;
}
.item h1 .type {
    font-weight: bold;
}
.item h1 a {
    color: #333;
    font: 14px/20px '宋体';
}
.item h1 a:hover {
    color: #c00;
    text-decoration: underline;
}
#item_list .item h2 {
    padding: 5px 10px 8px;
    white-space: nowrap;
    position: relative;
    width: 290px;
    height: 40px;
    vertical-align: baseline;
}

.item h2 span {
    color: #e33;
    font: bold 12px '微软雅黑', Tahoma, Arial;
}
.item h2 span big {
    font-size: 28px;
}
.item h2 small, .item .right small {
    color: #aaa;
    font: normal 12px 'Tahoma';
    text-decoration: line-through;
}
.item h2 a, .item .action {
    position: absolute;
    top: 5px;
    right: 10px;
    text-align: center;
    color: white;
    width: 80px;
    height: 33px;
    font-weight: bolder;
    font-size: 16px;
    line-height: 33px;
}
.item h2 a:hover, .item .action:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: white;
    text-decoration: none;
}
.item .qqg {
    background-position: 0 0;
}
.item .yjs {
    background-position: 0 -34px;
}
.item .yqg {
    background-position: 0 -68px;
}
.item .wks {
    background-position: 0 -102px;
}

.item .post, .item .vip, .item .gai, .item .remai {
    display: inline-block;
    height: 17px;
    margin-left: 5px;
    vertical-align: text-bottom;
}
.item .post {
    width: 26px;
    background-position: 0 -136px;
}
.item .gai {
    width: 26px;
    background-position: 0 -154px;
}
.item .vip {
    width: 34px;
    background-position: 0 -172px;
}
.item .remai {
    width: 54px;
    background-position: 0 -190px;
}
.item div .remai {
    float: right;
    margin-right: 15px;
}
.item .right .remai {
    margin-left: 30px;
    vertical-align: baseline;
}
.item .remai:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.item .sns-share {
    margin: 10px 0;
}
.item .sns-share b {
    margin-left: 10px;
    vertical-align: -7px;
    *vertical-align: -5px;
}

.item div {
    display: none;
    width: 290px;
    padding: 10px;
    border: solid #e66;
    border-width: 0 2px 2px 2px;
    color: #aaa;
    line-height: 20px;
    background-color: #f4f4f4;
    position: relative;
    top: 0;
    left: -2px;
    _position: absolute;
    _top: 313px;
}
.item-hover div {
    display: block;
}
.item h3 span {
    color: #555;
}
.item div p {
    color: #333;
    padding: 5px 0;
    border-top: 1px dotted #c5c5c5;
}
.item div p span {
    color: #aaa;
}
#single-item {
    margin: 20px 0;
    padding: 10px 0;
}
@media (max-width: 650px) {
    #single-item {
        width: 314px;
    }
    #single-item .right {
        display: block;
    }
}
#single-item h1 a {
    font-weight: bold;
}
#single-item .left {
    display: inline-block;
}
#single-item .sns-share {
    text-align: center;
}
#single-item .right {
    vertical-align: top;
    display: inline-block;
    width: 290px;
    padding: 10px;
    line-height: 30px;
}
#single-item h3 span {
    font-size: 14px;
}
#single-item p {
    color: #9c7e6f;
    border: 1px solid #f8f3f0;
    background-color: #fcfaf9;
    font: normal 14px/30px '宋体';
}
#single-item .action {
    display: inline-block;
    position: static;
    margin-top: 10px;
}

/* pagination */
#pagination {
    margin: 1em 0;
}
#pagination a, #pagination span {
    display: inline-block;
    margin: 5px 3px;
    padding: 5px 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#pagination a {
    color: #929292;
    text-decoration: none;
    background-color: #e3e3e3;
}
#pagination a.on {
    color: white;
    font-weight: bold;
    background-color: #f39;
}
#pagination a:hover {
    color: white;
    background-color: #f39;
}
#pagination span.on {
    color: #f39;
    font-weight: bold;
    background-color: #ffdcee;
}

