@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 22px;
}
a {
    color: #06c;
    text-decoration: none;
}
img {
    margin: 0;
    padding: 0;
    border-width: 0;
}
#welcome {
    font: normal 12px/1.5 "";
    position: absolute;
    top: 5px;
    right: 5%;
}
#bookmark {
    letter-spacing: 1px;
}
#bookmark b {
    display: inline-block;
    margin: 0 3px 0 5px;
    vertical-align: text-top;
    width: 13px;
    height: 13px;
    background: no-repeat url(img/tool2.png) -90px -23px;
}

#footprints-span {
    display: inline-block;
    position: relative;
    z-index: 999;
    text-align: left;
    white-space: normal;
    font: normal 12px/1.5 "";
    margin: 0 0 5px 2em;
    vertical-align: bottom;
}
#footprints-a {
    color: #06c;
    *display: inline;
    *zoom: 1;
    position: relative;
    z-index: 9999;
    padding: 7px 6px 3px 6px;
    border:  1px solid white;
}
#footprints-a.on {
    border-color:  #ddd #ddd white #ddd;
    background-color: white;
}
#footprints-a b {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin-left: 5px;
    border-style: solid;
    border-width: 4px;
    border-color: #666 #fff #fff;
}
#footprints {
    display: none;
    background-color: white;
    border: 1px solid #ddd;
    position: absolute;
    top: 29px;
    right: 0;
    _right: -1px;
    z-index: 999;
    padding: 10px;
}
#footprints-bar {
    display: none;
    position: absolute;
    right: 30px;
    bottom: 10px;
}
#footprints-bar div {
    position: absolute;
    top: 0;
    right: 0;
}
#footprints-bar span {
    cursor: pointer;
    margin-left: 10px;
}

.footprints-item {
    /* 232px * 112px */
    width: 200px;
    height: 80px;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: 1px dashed #ccc;
}
.footprints-item .image {
    width: 80px;
    display: inline-block;
}
.footprints-item img {
    width: 80px;
    height: 80px;
}
.footprints-item .desc {
    width: 100px;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}
.footprints-item .desc a {
    color: #333;
    display: block;
}
.footprints-item .desc b {
    color: #f40;
}

#header {
    padding: 3px 0 10px 0;
    white-space: nowrap;
}
#header .logo {
    cursor: pointer;
    display: inline-block;
    width: 128px;
    height: 60px;
    background: no-repeat url(img/logo.png);
    vertical-align: middle;
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/logo.png', enabled=true, sizingMethod='crop');
}
#search {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 1em;
    margin-left: 3em;
    background-color: #ffa405; 
    vertical-align: text-top;
    width: 30%;
    min-width: 15em;
    max-width: 50em;
    height: 31px;
    padding: 3px;
    *padding: 2px 3px 3px 3px;
    overflow: hidden;
    white-space: nowrap;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}
#search .input-wrapper {
    padding-right: 1em;
    margin-right: 6em;
    height: 31px;
}
#search input {
    width: 100%;
    margin: 0;
    border: none;
    padding: 7px;
    font-size: 1em;
    height: 17px;
    line-height: 17px;
    outline: none;
    background-color: white;
}
#search button {
    position: absolute;
    right: 0;
    top: 8px;
    text-align: center;

    margin: 0;
    padding: 0;
    border: none;
    width: 84px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    color: white;
    font-weight: bold;
    background-color: #ffa405;
    cursor: pointer;
}

/* navigation */
#navbar {
    margin: 0;
    background-color: #ffa405;
    font-size: 16px;
    line-height: 32px;
    white-space: nowrap;
    overflow: visible;
}
#navbar a {
    padding: 7px 16px;
    color: white;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
}
#navbar a:hover {
    background-color: #f40;
}
#navbar a.on {
    background-color: #f40;
}

#content {
    margin: 0;
    padding: 1em 2em;
}

#error_content {
    margin: 4em 0;
}


/* filter */
#filter {
    background-color: white;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
#filter a {
    margin: 0 1em;
    padding: 0 2px 1px;
    vertical-align: middle;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#filter span {
    color: #aaa;
    font-size: 12px;
    padding: 0 0 0 3px;
}
#filter a.on {
    color: white;
    background-color: #393;
}
#filter a.on span {
    color: white;
}

#no_items {
    margin: 10em 0;
}

#item_list{
    border-collapse: collapse;
}
/* item */
.item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; 
    width: 210px;
    padding: 1em;
    margin: 1em;
    border: 1px dashed #ccc;
    text-align: left;
    color: black;
    background-color: white;
}
.item:hover {
    border-color: #666;
}
.item a img {
    height: 210px;
}
.item .title {
    margin: 0;
    overflow: hidden;
    line-height: 22px;
    height: 44px;
}
.item .title a {
    color: #333;
}
.item .title a:hover {
    color: #06c;
}
.item .buy {
    white-space: nowrap;
    position: relative;
    height: 30px;
    line-height: 30px;
    vertical-align: baseline;
}
.item .buy span {
    color: #f40;
    font-weight: bold;
}
.item .buy span big {
    font-size: 2em;
}
.item .buy small {
    color: #aaa;
    text-decoration: line-through;
}
.item .buy .action {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    text-align: center;
    color: white;
    width: 80px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bolder;
    padding: 7px 0 6px 0;
}
.item .yellow {
    background: url(img/rect.png) 0 0;
}
.item .green {
    background: url(img/rect.png) 0 -35px;
}
.item .gray {
    background: url(img/rect.png) 0 -70px;
}

.item .flags {
    margin-top: 5px;
    white-space: nowrap;
    height: 22px;
}
.item .flags .post, .item .flags .vip {
    color: white;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
}

.item .flags .post {
    background: url(img/rect.png) 0 -105px;
}
.item .flags .vip {
    background: url(img/rect.png) -25px -105px;
}

/* pagination */
#pagination {
    margin: 1em 0;
    padding: 1em;
}
#pagination a, #pagination span {
    color: #666;
    text-decoration: none;
    display: inline-block;
    margin: 0 3px;
    padding: 7px 11px;
}
#pagination a {
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorStr=#ffffff, endColorStr=#f0f0f0);
    background-image: -moz-linear-gradient(top,#fff,#eee);
    background-image: -webkit-linear-gradient(top,#fff,#eee);
    background-image: -ms-linear-gradient(top,#fff,#eee);
}
#pagination span.on {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    border: 1px solid #fe8101;
    background: none repeat scroll 0 0 #ffa405;
}

*html{
    background-image:url(about:blank);
    background-attachment:fixed;
}
#sidebar {
    position: fixed;
    right: 1%;
    bottom: 5em;
    _position: absolute;
    _bottom: auto;
    _top: expression(eval(
        document.documentElement.scrollTop + document.documentElement.clientHeight - this.offsetHeight - 70
        ));
}
#sidebar div {
    position: relative;
    width:  32px;
    height: 32px;
    margin: 5px 0;
}
#sidebar a {
    display: block;
    width:  30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 1px solid #aaa;
    background-color: #bbb;
    position: absolute;
    right: 0px;
    overflow: hidden;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
#sidebar a:hover {
    width: 94px;
    border-color: #fe8101;
    background-color: #ffa405;
}
#sidebar a span {
    display: block;
    padding: 5px 0 5px 10px;
    color: white;
    white-space: nowrap;
    position: absolute;
    right: 35px;
}
#sidebar a b {
    display: block;
    width:  17px;
    height: 17px;
    background: no-repeat url(img/tool.png);
    position: absolute;
    top: 6px;
    right: 6px;
}
#prev_page a b {
    background-position: -16px -1px;
}
#next_page a b {
    background-position: -31px -1px;
}

#footer {
    color: #aaa;
    padding: 1em;
    border-top: 1px solid #ffa405;
}
#footer table {
    margin: 0 auto;
}
#footer table img {
    margin-right: 2em;
}
#footer table th {
    text-align: right;
    white-space: nowrap;
}
#footer table td {
    text-align: left;
}

