@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 22px;
    background-color: white;
}
a {
    color: black;
    text-decoration: none;
}
img {
    margin: 0;
    padding: 0;
    border-width: 0;
}

.header {
    margin: 1em 0;
    white-space: nowrap;
}
.header .logo {
    width: 128px;
    height: 60px;
    vertical-align: middle;
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/logo.png', enabled=true, sizingMethod='crop');
}
.search {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 1em;
    margin-left: 5em;
    padding: 3px;
    background-color: #ffa405; 
    vertical-align: text-top;
    width: 50%;
    min-width: 30em;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    behavior: url(/pie/PIE.htc);
}
.search div {
    padding-right: 1em;
    margin-right: 14em;
}
.search div input {
    width: 100%;
    margin: 0;
    border: none;
    padding: 7px;
    font-size: 1em;
    height: 17px;
    line-height: 17px;
    outline: none;
    background-color: white;
}
.search span {
    position: absolute;
    right: 112px;
    top: 3px;
    border: none;
    border-left: 1px solid #ddd;
    *height: 32px;
    background-color: white;
}
.search span select {
    width: 87px;
    font-size: 13px;
    margin: 0;
    border: none;
    padding: 7px 15px 7px 7px;
    height: 31px;
    line-height: 17px;
    outline: none;
    background-color: white;
    color: #999;
}
.search span select option {
    display: block;
    text-align: left;
    height: 16px;
    margin: 0;
    padding: 7px;
    border: none;
    outline: none;
}
.search button {
    width: 8em;
    position: absolute;
    right: 0;
    top: 3px;
    text-align: center;

    font-size: 1em;
    line-height: 2em;
    vertical-align: middle;
    padding: 0;
    border: none;
    color: white;
    font-weight: bold;
    background-color: #ffa405;
    cursor: pointer;
}

/* navigation */
.nav {
    margin-top: 1em;
    height: 32px;
    background-color: #ffa405;
    font-size: 16px;
    line-height: 32px;
    white-space: nowrap;
    overflow: visible;
}
.nav a {
    padding: 9px 16px;
    color: white;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
}
.nav a:hover {
    background-color: #f40;
}
.nav a.on {
    background-color: #f40;
}
.clearfix {
    clear: both;
}

.content {
    margin: 2em;
}

.error_content {
    margin: 4em 0;
}

.no_items {
    margin: 10em 0;
}

.item_list{
    border-collapse: collapse;
}
/* item */
.item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; 
    width: 210px;
    padding: 1em;
    margin: 1em;
    border: 1px solid #eee;
    text-align: left;
    color: black;
}
.item:hover {
    border-color: #ccc;
}
.item a img {
    width: 210px;
    height: 210px;
}
.item .title {
    margin: 0;
    overflow: hidden;
    line-height: 22px;
    height: 44px;
}
.item .title a:hover {
    color: #c00;
}
.item .buy {
    white-space: nowrap;
    position: relative;
    height: 30px;
    line-height: 30px;
    vertical-align: baseline;
}
.item .buy span {
    color: #f40;
    font-weight: bold;
}
.item .buy span big {
    font-size: 2em;
}
.item .buy small {
    color: #aaa;
    text-decoration: line-through;
}
.item .buy .action {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    text-align: center;
    color: white;
    width: 80px;
    height: 33px;
    font-size: 16px;
    line-height: 2em;
    font-weight: bolder;
    padding: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/pie/PIE.htc);
}
.item .green {
    background-color: #393;
}
.item .yellow { 
    background-color: #ffa405;
}
.item .gray { 
    background-color: gray;
}
.item .gray2 {
    background-color: gray;
    font-size: 14px;
    line-height: 17px;
}

.item .flags {
    height: 22px;
    line-height: 22px;
    white-space: nowrap;
}
.item .flags .post, .item .flags .vip {
    color: white;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    behavior: url(/pie/PIE.htc);
}

.item .flags .post {
    background-color: #393;
}
.item .flags .vip {
    background-color: #f37c06;
}

/* pagination */
.page {
    margin: 1em 0;
    padding: 1em;
}
.page a, .page span {
    color: #666;
    text-decoration: none;
    margin: 0 3px;
    padding: 7px 11px;
}
.page a, .page span.current_page {
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    behavior: url(/pie/PIE.htc);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=white,endColorstr=#f0f0f0);
    background-image: -moz-linear-gradient(top,#fff,#eee);
    background-image: -webkit-linear-gradient(top,#fff,#eee);
    background-image: -ms-linear-gradient(top,#fff,#eee);
}
.page span.current_page {
    color: white;
    font-weight: bold;
    border: 1px solid #fe8101;
    background: none repeat scroll 0 0 #ffa405;
}

.sidebar {
    position: fixed;
    right: 1%;
    bottom: 5em;
    _position: absolute;
    _top:expression(eval(
        document.documentElement.scrollTop + document.documentElement.clientHeight
        - this.offsetHeight - 1em
        ));
}
.sidebar div {
    position: relative;
    width:  32px;
    height: 32px;
    margin: 5px 0;
}
.sidebar a {
    display: block;
    width:  30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 1px solid #aaa;
    background-color: #bbb;
    position: absolute;
    right: 0px;
    overflow: hidden;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    behavior: url(/pie/PIE.htc);
}
.sidebar a span {
    display: block;
    padding: 5px 0 5px 10px;
    color: white;
    white-space: nowrap;
    position: absolute;
    right: 35px;
}
.sidebar a b {
    display: block;
    width:  17px;
    height: 17px;
    background: no-repeat url(/static/tool.png);
    position: absolute;
    top: 6px;
    right: 6px;
}
.sidebar .go_top a:hover {
    width: 108px;
    border-color: #fe8101;
    background-color: #ffa405;
}
.sidebar .prev_page a:hover,
.sidebar .next_page a:hover {
    width: 94px;
    border-color: #fe8101;
    background-color: #ffa405;
}

.sidebar .prev_page b {
    background-position: -16px -1px;
}
.sidebar .next_page b {
    background-position: -31px -1px;
}

.footer {
    color: #aaa;
    padding: 2em;
    margin-top: 2em;
    border-top: 1px solid #ffa405;
}
.footer table {
    margin: 0 auto;
}
.footer table img {
    margin-right: 2em;
}
.footer table th {
    text-align: right;
    white-space: nowrap;
}
.footer table td {
    text-align: left;
}

