@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 14px;
    line-height: 22px;
}
a {
    color: #06c;
    text-decoration: none;
}
img {
    margin: 0;
    padding: 0;
    border-width: 0;
}
.topbar {
    color: #666;
    padding: 7px 10% 3px 10%;
    font: normal 12px/1.5 "";
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.topbar a {
    color: #666;
    margin: 0 0.5em;
}
.topbar a:hover {
    color: #f60;
}
.topbar .right {
    position: absolute;
    right: 10%;
}
.topbar .right b {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    border-style: solid;
    border-width: 4px;
    border-color: #666 #f5f5f5 #f5f5f5;
}

.header {
    padding: 1em 0;
    white-space: nowrap;
}
.header .logo {
    cursor: pointer;
    display: inline-block;
    width: 128px;
    height: 60px;
    background-image: url(/static/logo.png);
    vertical-align: middle;
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/logo.png', enabled=true, sizingMethod='crop');
}
.search {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 1em;
    margin-left: 5em;
    background-color: #ffa405; 
    vertical-align: text-top;
    width: 50%;
    min-width: 30em;
    height: 31px;
    padding: 3px;
    *padding: 2px 3px 3px 3px;
    overflow: hidden;
    white-space: nowrap;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.search .input-wrapper {
    padding-right: 1em;
    margin-right: 14em;
    height: 31px;
}
.search input {
    width: 100%;
    margin: 0;
    border: none;
    padding: 7px;
    font-size: 1em;
    height: 17px;
    line-height: 17px;
    outline: none;
    background-color: white;
}
.search .select-wrapper {
    position: absolute;
    right: 112px;
    top: 3px;
    border: none;
    border-left: 1px solid #ddd;
    height: 20px;
    padding: 8px 6px 3px 1px;
    background-color: white;
}

.search .select-hide-border {
    width: 83px;
    height: 16px;
    overflow: hidden;
}

.search select {
    display: block;
    width: 87px;
    height: 20px;
    font: normal 12px/20px "";
    margin: -2px 0 0 -2px;
    outline: none;
    color: #999;
    background-color: white;
    vertical-align: baseline;
}
.search select option {
    display: block;
    text-align: left;
    height: 16px;
    margin: 0;
    border: none;
    outline: none;
}
.search button {
    position: absolute;
    right: 0;
    top: 8px;
    text-align: center;

    margin: 0;
    padding: 0;
    border: none;
    width: 112px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    color: white;
    font-weight: bold;
    background-color: #ffa405;
    cursor: pointer;
}

/* navigation */
.nav {
    margin: 0;
    height: 32px;
    background-color: #ffa405;
    font-size: 16px;
    line-height: 32px;
    white-space: nowrap;
    overflow: visible;
}
.nav a {
    padding: 9px 16px;
    color: white;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
}
.nav a:hover {
    background-color: #f40;
}
.nav a.on {
    background-color: #f40;
}

.content {
    margin: 0;
    padding: 1em 2em;
}

/* filter */
.filter {
    background-color: white;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.filter a {
    margin: 0 1em;
}
.filter span {
    color: #aaa;
    font-size: 12px;
    padding: 0 0 0 3px;
}
.filter a.on {
    color: white;
    background-color: #ffa405;
}
.filter a.on span {
    color: white;
}

.error_content {
    margin: 4em 0;
}

.no_items {
    margin: 10em 0;
}

.item_list{
    border-collapse: collapse;
}
/* item */
.item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; 
    width: 210px;
    padding: 1em;
    margin: 1em;
    border: 1px solid #eee;
    text-align: left;
    color: black;
    background-color: white;
}
.item:hover {
    border-color: #ccc;
}
.item a img {
    width: 210px;
    height: 210px;
}
.item .title {
    margin: 0;
    overflow: hidden;
    line-height: 22px;
    height: 44px;
}
.item .title a {
    color: #333;
}
.item .title a:hover {
    color: #f60;
}
.item .buy {
    white-space: nowrap;
    position: relative;
    height: 30px;
    line-height: 30px;
    vertical-align: baseline;
}
.item .buy span {
    color: #f40;
    font-weight: bold;
}
.item .buy span big {
    font-size: 2em;
}
.item .buy small {
    color: #aaa;
    text-decoration: line-through;
}
.item .buy .action {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    text-align: center;
    color: white;
    width: 80px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bolder;
    padding: 7px 0 6px 0;
}
.item .yellow {
    background: url(/static/rect.png) 0 0;
}
.item .green {
    background: url(/static/rect.png) 0 -35px;
}
.item .gray {
    background: url(/static/rect.png) 0 -70px;
}

.item .flags {
    margin-top: 5px;
    white-space: nowrap;
}
.item .flags .post, .item .flags .vip {
    color: white;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    _padding-top: 2px;
}

.item .flags .post {
    background: url(/static/rect.png) 0 -105px;
}
.item .flags .vip {
    background: url(/static/rect.png) -25px -105px;
}

/* pagination */
.page {
    margin: 1em 0;
    padding: 1em;
}
.page a, .page span {
    color: #666;
    text-decoration: none;
    display: inline-block;
    margin: 0 3px;
    padding: 7px 11px;
}
.page a {
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorStr=#ffffff, endColorStr=#f0f0f0);
    background-image: -moz-linear-gradient(top,#fff,#eee);
    background-image: -webkit-linear-gradient(top,#fff,#eee);
    background-image: -ms-linear-gradient(top,#fff,#eee);
}
.page span.current_page {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    border: 1px solid #fe8101;
    background: none repeat scroll 0 0 #ffa405;
}

.sidebar {
    position: fixed;
    right: 1%;
    bottom: 5em;
    _position: absolute;
    _bottom: auto;
    _top: expression(eval(
        document.documentElement.scrollTop + document.documentElement.clientHeight - this.offsetHeight - 70
        ));
}
*html{
    background-image:url(about:blank);
    background-attachment:fixed;
}

.sidebar div {
    position: relative;
    width:  32px;
    height: 32px;
    margin: 5px 0;
}
.sidebar a {
    display: block;
    width:  30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: 1px solid #aaa;
    background-color: #bbb;
    position: absolute;
    right: 0px;
    overflow: hidden;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.sidebar a span {
    display: block;
    padding: 5px 0 5px 10px;
    color: white;
    white-space: nowrap;
    position: absolute;
    right: 35px;
}
.sidebar a b {
    display: block;
    width:  17px;
    height: 17px;
    background: no-repeat url(/static/tool.png);
    position: absolute;
    top: 6px;
    right: 6px;
}
.sidebar .go_top a:hover {
    width: 108px;
    border-color: #fe8101;
    background-color: #ffa405;
}
.sidebar .prev_page a:hover,
.sidebar .next_page a:hover {
    width: 94px;
    border-color: #fe8101;
    background-color: #ffa405;
}

.sidebar .prev_page b {
    background-position: -16px -1px;
}
.sidebar .next_page b {
    background-position: -31px -1px;
}

.footer {
    color: #aaa;
    padding: 2em;
    margin-top: 2em;
    border-top: 1px solid #ffa405;
}
.footer table {
    margin: 0 auto;
}
.footer table img {
    margin-right: 2em;
}
.footer table th {
    text-align: right;
    white-space: nowrap;
}
.footer table td {
    text-align: left;
}

