#help-wrapper {
    position: relative;
    margin: 20px 5%;
    text-align: center;
    *zoom: 1;
}
#help-catalog {
    position: absolute;
    top: 0;
    _top: expression(0);
    left: 0;
    width: 200px;
    padding: 20px;
    line-height: 24px;
    background-color: #fff;
    text-align: left;
    display: inline-block;
}
#help-catalog div {
    margin-bottom: 20px;
}
#help-catalog span {
    font-size: 14px;
}
#help-catalog a {
    display: block;
}
#help-catalog b {
    color: #c00;
}

#help-content {
    margin-left: 260px;
    padding: 20px;
    background-color: #fff;
    text-align: left;
}
#help-catalog.fixed {
    position: fixed;
    margin-left: 5%;
    _position: absolute;
    _margin-left: 0;
    _top: expression(document.documentElement.scrollTop - this.offsetParent.offsetTop + 'px');
}
#help-catalog.bottom {
    top: auto;
    bottom: 0;
    _top: expression('auto');
}
@media (max-width: 650px) {
    #help-wrapper #help-catalog { position: static; }
    #help-wrapper #help-content { margin: 20px 0 0 0; }
}
@media (max-width: 380px) {
    #help-wrapper { margin: 20px 0; }
}

#help-content .help-section {
    padding-bottom: 50px;
}
#help-content h2 {
    color: #c00;
    font: 800 20px/30px "微软雅黑";
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #e2e2e2;
}
#help-content .newbile {
    margin-top: 20px;
}
#help-content .newbile span {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}
#help-content .newbile span b {
    font: 30px/30px "微软雅黑";
    color: #E22A10;
}
#help-content .newbile span strong {
    margin-left: 20px;
    font: 18px/30px "微软雅黑"
}
#help-content .newbile span p {
    color: #666;
}
#help-content .newbile img {
    display: inline-block;
    border: 1px dashed #ccc;
    max-width: 100%;
}
#help-content .seckill {
    font-size: 14px;
    margin-top: 30px;
}
#help-content .seckill b {
    color: #c00;
    font-weight: 800;
    margin-left: 10px;
}
#help-content .seckill strong {
    color: #333;
    font-weight: normal;
}
#help-content .seckill p {
    color: #666;
}
#help-content .seckill img {
    max-width: 100%;
}

#help-content dt, #help-content dd {
    position: relative;
    _zoom: 1;
    margin: 10px;
    font: normal 14px/22px "宋体";
}
#help-content dt b { 
    color: #5aae22;
}
#help-content dd {
    color: #af7105;
    _left: -40px;
}
#help-content dt b, #help-content dd b {
    margin-right: 6px;
    font: normal 16px/22px "宋体";
    position: absolute;
    top: 0;
    left: 0;
    +top: -4px;
    _top: -1px;
}
#help-content dt div, #help-content dd div {
    margin-left: 50px;
}
#help-content p {
    margin: 10px;
    font: normal 14px/22px "宋体";
}
