@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "微软雅黑", Arial, sans-serif, "新宋体";
    font-size: 14px;
    line-height: 22px;
}
a {
    color: #06c;
    text-decoration: none;
    cursor: pointer;
}
img {
    margin: 0;
    padding: 0;
    border-width: 0;
}

#dialog_box {
    position: absolute;
    border: 5px solid #ddd;
    z-index: 9999;
}
#dialog_box b {
    display: inline-block;
    width: 12px;
    height: 10px;
    border: 1px solid white;
    background: url(/img/tool.png) 0 -19px;
    position: absolute;
    top: 5px;
    right: 5px;
}
#dialog_box b:hover {
    border-color: #ccc;
}
#dialog_box div {
    border: 1px solid #ccc;
    padding: 5px 25px 5px 10px;
    font: normal 12px/22px "宋体";
    color: #333;
    background-color: white;
}

#sns-share a b {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/img/sns_icon.png);
}

#sns-share .sina_weibo b { background-position: -18px 0; }
#sns-share .qq_weibo   b { background-position: -66px 0; }
#sns-share .qzone      b { background-position: -114px 0; }
#sns-share .renren     b { background-position: -34px 0; }
#sns-share .douban     b { background-position: -82px 0; }
#sns-share .kaixin     b { background-position: -50px 0; }

#footprints-bar {
    display: none;
    position: absolute;
    right: 30px;
    bottom: 10px;
}
#footprints-bar div {
    position: absolute;
    top: 0;
    right: 0;
}
#footprints-bar span {
    cursor: pointer;
    margin-left: 10px;
}

.footprints-item {
    /* 232px * 112px */
    width: 200px;
    height: 80px;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: 1px dashed #ccc;
}
.footprints-item .image {
    width: 80px;
    display: inline-block;
}
.footprints-item img {
    width: 80px;
    height: 80px;
}
.footprints-item .desc {
    width: 100px;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    font-family: "宋体";
}
.footprints-item .desc a {
    color: #333;
    display: block;
}
.footprints-item .desc b {
    color: #f40;
}

#search {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 1em;
    margin-left: 3em;
    vertical-align: text-top;
    width: 30%;
    min-width: 15em;
    max-width: 50em;
    height: 31px;
    overflow: hidden;
    white-space: nowrap;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}
#search .input-wrapper {
    padding-right: 1em;
    margin-right: 6em;
    height: 31px;
}
#search input {
    width: 100%;
    margin: 0;
    border: none;
    padding: 7px;
    font-size: 1em;
    height: 17px;
    line-height: 17px;
    outline: none;
    background-color: white;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
#search button {
    position: absolute;
    right: 0;
    text-align: center;

    margin: 0;
    padding: 0;
    border: none;
    width: 80px;
    height: 22px;
    font-size: 14px;
    line-height: 22px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#content {
    margin: 0;
    padding: 1em 0;
}

#error_content {
    margin: 4em 0;
}


/* 
#filter {
    padding-bottom: 14px;
    background: url(/tmp/color-line.png) left bottom repeat-x;
} 
 */
#filter a {
    margin: 0 1em;
    padding: 0 2px 1px;
    vertical-align: middle;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#filter span {
    color: #aaa;
    font-size: 12px;
    padding: 0 0 0 3px;
}
#filter a.on {
    color: white;
    background-color: #393;
}
#filter a.on span {
    color: white;
}

#no_items {
    margin: 10em 0;
}

#item_list{
    border-collapse: collapse;
}
/* item */
.item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top; 
    width: 300px;
    padding: 1em;
    margin: 1em;
    border: 1px dashed #ccc;
    text-align: left;
    color: black;
    background-color: white;
}
.item:hover {
    border-color: #666;
}
.item .pic {
    width: 300px;
    height: 300px;
    line-height: 300px;
    margin-bottom: 5px;
    display: block;
    overflow: hidden;
    text-align: center;
}
.item .pic img {
    max-width: 300px;
    max-height: 300px;
    vertical-align: middle;
}
.item .pic span {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    font-size: 0;
}
.item .title {
    margin: 0;
    overflow: hidden;
    line-height: 22px;
    height: 44px;
}
.item .title a {
    color: #333;
}
.item .title a span {
    font-family: "宋体";
}
.item .title a:hover {
    color: #06c;
}
.item .buy {
    white-space: nowrap;
    position: relative;
    height: 30px;
    line-height: 30px;
    vertical-align: baseline;
}
.item .buy span {
    color: #f40;
    font-weight: bold;
}
.item .buy span big {
    font-size: 2em;
}
.item .buy small {
    color: #aaa;
    text-decoration: line-through;
}
.item .buy .action {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    text-align: center;
    color: white;
    width: 80px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bolder;
    padding: 7px 0 6px 0;
}
.item .yellow {
    background: url(/img/rect.png) 0 0;
}
.item .green {
    background: url(/img/rect.png) 0 -35px;
}
.item .gray {
    background: url(/img/rect.png) 0 -70px;
}

.item .flags {
    margin-top: 5px;
    white-space: nowrap;
    height: 22px;
    position: relative;
}
.item .flags .post, .item .flags .vip {
    color: white;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
}

.item .flags .post {
    background: url(/img/rect.png) 0 -105px;
}
.item .flags .vip {
    background: url(/img/rect.png) -25px -105px;
}
.item .flags .end_time {
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    top: 9px;
    right: 0;
    color: #aaa;
}

/* pagination */
#pagination {
    margin: 1em 0;
}
#pagination a, #pagination span {
    display: inline-block;
    margin: 5px 3px;
    padding: 5px 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#pagination a {
    color: #929292;
    text-decoration: none;
}
#pagination a.on {
    color: white;
    font-weight: bold;
    background-color: #f39;
}
#pagination a:hover {
    color: white;
    background-color: #f39;
}
#pagination span.on {
    color: #f39;
    font-weight: bold;
    background-color: #ffdcee;
}

*html{
    background-image:url(about:blank);
    background-attachment:fixed;
}
#sidebar {
    position: fixed;
    right: 1%;
    bottom: 5em;
    _position: absolute;
    _bottom: auto;
    _top: expression(eval(
        document.documentElement.scrollTop + document.documentElement.clientHeight - this.offsetHeight - 70
        ));
}
#sidebar div {
    position: relative;
    width:  32px;
    height: 32px;
    margin: 5px 0;
}
#sidebar a {
    display: block;
    width:  30px;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: #f39;
    position: absolute;
    right: 0px;
    overflow: hidden;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#go_top a {
    background-color: #aaa;
}
#sidebar a:hover {
    width: 90px;
}
#kefu a:hover {
    font-size: 16px;
}
#sidebar a span {
    display: block;
    padding: 4px 0 5px 10px;
    color: white;
    white-space: nowrap;
    position: absolute;
    right: 35px;
}
#sidebar a b {
    display: block;
    width:  17px;
    height: 17px;
    background: no-repeat url(/img/tool.png);
    position: absolute;
    top: 6px;
    right: 6px;
}
#prev_page a b {
    background-position: -16px -1px;
}
#next_page a b {
    background-position: -31px -1px;
}
#kefu a b {
    background-position: -79px -1px;
}

#footer {
    padding: 1em;
    color: white;
    background-color: #444;
    border-top: 1px solid #525252;
}
#footer a {
    color: white;
    margin: 0 10px;
}
#footer div {
    color: #aaa;
    display: block;
    margin-top: 10px;
}
#footer div span {
    margin-right: 1em;
    white-space: nowrap;
}
#footer div small {
    margin-left: 2em;
    white-space: nowrap;
}
#footer div sub {
    display: none;
}
#footer div sub a {
    color: #aaa;
}
body object {
    display: none;
}

#header {
    padding: 3px 5%;
    color: #c2c2c2;
    background-color: #010101;
}

#header .right {
    float: right;
    margin-top: 20px;
    _margin-top: 28px;
    font: normal 12px/22px "";
}

#phone-edition, #bookmark {
    cursor: pointer;
    margin-right:  2em;
    +vertical-align: 26px;
    _vertical-align: 23px;
}

#sns-share a {
    display: block;
    margin: 5px 0;
    white-space: nowrap;
}
#sns-share a b {
    margin-right: 5px;
    vertical-align: middle;
}

#sns-share-wrapper, #footprints-wrapper {
    position: relative;
    z-index: 999;
    text-align: left;
    white-space: normal;
    display: inline-block;
}
#sns-share-button, #footprints-button {
    padding: 2px 3px;
    margin: 0 0 20px 20px;
}
#sns-share-button.on, #footprints-button.on {
    color: #99e000;
}
#sns-share-button b, #footprints-button b {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: 5px solid #010101;
    border-top-color: #666;
    margin-left: 5px;
    vertical-align: -4px;
}
#sns-share-button b.on, #footprints-button b.on {
    border-top-color: #99e000;
}
#sns-share, #footprints {
    display: none;
    background-color: white;
    border: 1px solid #ddd;
    position: absolute;
    top: 35px;
    _top: 30px;
    right: 0;
    z-index: 999;
    font: normal 12px/18px "";
}
#sns-share {
    padding: 10px;
}
#footprints {
    padding: 10px 10px 30px 10px;
}
#sns-share i, #footprints i {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: 7px solid transparent;
    _border-color: pink;
    _filter: chroma(color=pink);
    border-bottom-color: white;
    position: absolute;
    top: -14px;
}
#sns-share i {
    right: 20px;
}
#footprints i {
    right: 32px;
}


.logo {
    cursor: pointer;
    display: inline-block;
    width: 128px;
    height: 60px;
    background: no-repeat url(/img/logo.png);
    vertical-align: middle;
}

#search {
    background-color: #518900; 
}
#search button {
    top: 5px;
    background-color: #518900; 
}

/* navigation */
#navbar {
    margin: 10px 0;
    border: 1px solid #518900;
    padding: 8px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#navbar a {
    color: #ccc;
    display: inline-block;
    padding: 3px 20px;
    _padding: 5px 20px 2px 20px;
    margin: 2px 0;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#navbar a:hover {
    color: white;
    background-color: #4f8a00;
}
#navbar a.on {
    color: white;
    background-color: #4f8a00;
}

#content {
    background: url(/img/bg.png) repeat center top;
}
.item {
    border: none;
}

#pagination a {
    background-color: #e3e3e3;
}
