@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font: 12px/1.5 Tahoma, Helvetica, Arial, "宋体", sans-serif, "新宋体";
}
a {
    color: #09c;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    color: #c00;
    text-decoration: underline;
}
h1,h2,h3,h4,h5,h6,p,img {
    margin: 0;
    padding: 0;
    border-width: 0;
    font-size: 12px;
    font-weight: normal;
}

#search, #search input, 
#navbar, #navbar a, #qq-qun,
#condition .lrc, #condition .rrc, 
#pagination a, #pagination span
{
    behavior: url(/PIE.htc)\9;
    position: relative\9;
    _behavior: none;
    _position: static;
}
#header {
    padding: 3px 5% 10px 5%;
    color: #fff;
    background-color: #010101;
    font-family: '微软雅黑';
}

#header .right {
    float: right;
    margin-top: 20px;
    _margin-top: 28px;
}

#phone-edition {
    cursor: pointer;
    margin-right:  2em;
    +vertical-align: 26px;
    _vertical-align: 23px;
}

#sns-share-wrapper, #footprints-wrapper {
    position: relative;
    z-index: 100;
    text-align: left;
    white-space: normal;
    display: inline-block;
    _background-color: #010101;
}
#sns-share-button, #footprints-button {
    padding: 2px 3px;
    margin: 0 0 20px 20px;
}
#sns-share-button.on, #footprints-button.on {
    color: #99e000;
}
#sns-share-button b, #footprints-button b {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: 5px solid #010101;
    border-top-color: #666;
    margin-left: 5px;
    vertical-align: -4px;
}
#sns-share-button.on b, #footprints-button.on b {
    border-top-color: #99e000;
}
#sns-share, #footprints {
    display: none;
    background-color: white;
    border: 1px solid #ddd;
    position: absolute;
    top: 35px;
    _top: 30px;
    right: 0;
    z-index: 100;
}
#sns-share {
    padding: 10px;
}
#footprints {
    color: #333;
    padding: 10px 10px 30px 10px;
}
#sns-share i, #footprints i {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: 7px solid transparent;
    _border-color: pink;
    _filter: chroma(color=pink);
    border-bottom-color: white;
    position: absolute;
    top: -14px;
}
#sns-share i {
    right: 20px;
}
#footprints i {
    right: 32px;
}

#sns-share a {
    display: block;
    margin: 5px 0;
    white-space: nowrap;
}
#sns-share a b {
    margin-right: 5px;
    vertical-align: -7px;
    +vertical-align: -3px;
    _vertical-align: -5px;
}

#footprints-bar {
    display: none;
    position: absolute;
    right: 30px;
    bottom: 10px;
    color: #333;
}
#footprints-bar div {
    position: absolute;
    top: 0;
    right: 0;
}
#footprints-bar span {
    cursor: pointer;
    margin-left: 10px;
}

.footprints-item {
    /* 232px * 112px */
    width: 220px;
    height: 100px;
    margin: 5px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border: 1px dashed #ccc;
}
.footprints-item .image {
    width: 100px;
    display: inline-block;
}
.footprints-item img {
    width: 80px;
    height: 80px;
    padding: 10px;
}
.footprints-item .desc {
    width: 115px;
    padding: 5px 5px 0 0;
    display: inline-block;
    vertical-align: top;
}
.footprints-item .desc a {
    color: #333;
    display: block;
    height: 72px;
    overflow: hidden;
}
.footprints-item .desc b {
    color: #e33;
}

.logo {
    cursor: pointer;
    display: inline-block;
    width: 290px;
    height: 60px;
    background: no-repeat url(/img/logo.png?v=20131022.1);
    vertical-align: middle;
}

#search {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #518900; 
    margin-left: 3em;
    vertical-align: text-top;
    width: 30%;
    min-width: 15em;
    max-width: 50em;
    height: 31px;
    overflow: hidden;
    white-space: nowrap;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}
#search .input-wrapper {
    padding-right: 1em;
    margin-right: 84px;
    height: 31px;
}
#search input {
    width: 100%;
    margin: 0;
    border: none;
    padding: 7px;
    height: 17px;
    line-height: 17px;
    outline: none;
    background-color: white;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
#search button {
    position: absolute;
    top: 5px;
    right: 0;
    text-align: center;
    background-color: #518900; 

    margin: 0;
    padding: 0;
    border: none;
    width: 80px;
    height: 22px;
    font: bold 14px/22px '宋体';
    color: white;
    cursor: pointer;
}

/* navigation */
#navbar {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #518900;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: 14px/22px '';
    _width: 100%;
}
#navbar a {
    color: #fff;
    display: inline-block;
    padding: 3px 20px;
    _padding: 5px 20px 2px 20px;
    margin: 2px 0;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#navbar a:hover {
    background-color: #4f8a00;
}
#navbar a.on {
    background-color: #4f8a00;
}

#qq-qun-container {
    position: relative;
}
#qq-qun {
    position: absolute;
    top: 0;
    right: 30%;
    background-color: #010101;
    padding: 10px 20px 5px 20px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    white-space: nowrap;
}

*html{
    background-image:url(about:blank);
    background-attachment:fixed;
}
#sidebar {
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 99;
    _position: absolute;
    _bottom: auto;
    _top: expression(eval(
        document.documentElement.scrollTop + document.documentElement.clientHeight - this.offsetHeight - 10
        ));
}
#pindao-button, #bookmark, #fankui, #gotop {
    display: block;
    margin-top: 3px;
    padding: 0;
    width: 55px;
    height: 55px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
#pindao-button:hover, #bookmark:hover, #fankui:hover, #gotop:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}
#pindao-button {
    background-position: -81px 0;
    position: relative;
}
#bookmark {
    background-position: -81px -56px;
}
#fankui {
    background-position: -81px -112px;
}
#gotop {
    background-position: -81px -168px;
}
#pindao-wrapper {
    padding-left: 10px;
    position: relative;
    left: -10px;
    +left: -5px;
    _width: 55px;
    _background: url(/img2/b.gif) repeat center top;
}
#pindao-wrapper div {
    position: absolute;
    top: 0;
    right: 63px;
    width: 224px;
    padding: 10px;
    border: 1px solid #999;
    background-color: #f7f7f7;
}
#pindao-wrapper div i {
    display: inline-block;
    width: 7px;
    height: 14px;
    background-position: 0 -208px;
    position: absolute;
    top: 20px;
    right: -7px;
}
#pindao-wrapper div a {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #e6e6e6;
    background-color: white;
}

#content {
    margin: 0;
    padding: 20px 0;
    background: url(/img2/bg.png) repeat center top;
}

#error_content {
    margin: 4em 0;
}


#dialog_box {
    position: absolute;
    border: 5px solid #ddd;
    z-index: 100;
}
#dialog_box b {
    display: inline-block;
    width: 12px;
    height: 10px;
    border: 1px solid white;
    background: url(/img2/tool.png) 0 -19px;
    position: absolute;
    top: 5px;
    right: 5px;
}
#dialog_box b:hover {
    border-color: #ccc;
}
#dialog_box div {
    border: 1px solid #ccc;
    padding: 5px 25px 5px 10px;
    line-height: 22px;
    color: #333;
    background-color: white;
}

.sns-share b {
    display: inline-block;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url(/img2/sns_icon.png);
}
b.sns-qq_zone    { background-position: 0 -96px; }
b.sns-sina_weibo { background-position: 0 -144px; }
b.sns-tencent_weibo { background-position: 0 -216px; }
b.sns-renren     { background-position: 0 -240px; }
b.sns-douban     { background-position: 0 -840px; }
b.sns-kaixin     { background-position: 0 -264px; }
b.sns-qq_haoyou  { background-position: 0 -3024px; }


.item h2 a, .item .action, .item .post, .item .vip, .item .gai, .item .danpin, 
#pindao-button, #bookmark, #fankui, #gotop, #pindao-wrapper div i {
    background-image: url(/img/button.png?v=20131213.0);
}
#pindao-button, #bookmark, #fankui, #gotop, #pindao-wrapper div i {
    _background-image: url(/img/button-fs8.png?v=20131213.0);
}


#condition {
    margin: 5px 0;
} 
#condition span a, #condition span span {
    display: inline-block;
    margin: 5px 1px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 30px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    _padding-top: 3px;
}
#condition span a {
    color: #5e5e5e;
}
#condition span a:hover {
    color: #e33;
}
#condition span span {
    color: #e33;
    font-weight: bold;
}

#condition .lrc {
    -moz-border-radius: 15px 0 0 15px;
    -webkit-border-radius: 15px 0 0 15px;
    border-radius: 15px 0 0 15px;
}
#condition .rrc {
    -moz-border-radius: 0 15px 15px 0;
    -webkit-border-radius: 0 15px 15px 0;
    border-radius: 0 15px 15px 0;
}

#sort {
    margin-left: 30%;
    white-space: nowrap;
}
#no_items {
    margin: 3em 0;
}

#item_list{
    border-collapse: collapse;
}
/* item */
.item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: left;
    vertical-align: top; 
    border: 2px solid;
    border-color: white #e2e2e2 #e2e2e2 white;
    color: black;
    background-color: #fff;
}
#item_list .item {
    margin: 12px;
    width: 310px;
    height: 313px;
    background: #fff url(/img/logo_gray.png) no-repeat 10px 10px;
}
.item-hover {
    position: relative;
    border-color: #e66;
}
#item_list .auto-height {
    height: auto;
}
.item .pic {
    display: block;
    padding: 10px;
    width: 290px;
    height: 190px;
    line-height: 190px;
    overflow: hidden;
    text-align: center;
}
.item .pic img {
    max-width: 290px;
    max-height: 190px;
    vertical-align: middle;
}
.item .pic span {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    font-size: 0;
}
#item_list .item h1 {
    margin-top: 210px;
    overflow: hidden;
    height: 40px;
}
.item h1 {
    padding: 5px 10px;
}
.item h1 .type {
    font-weight: bold;
}
.item h1 a {
    color: #333;
    font: 14px/20px '宋体';
}
.item h1 a:hover {
    color: #c00;
    text-decoration: underline;
}
#item_list .item h2 {
    padding: 5px 10px 8px;
    white-space: nowrap;
    position: relative;
    width: 290px;
    height: 40px;
    vertical-align: baseline;
}

.item h2 span {
    color: #e33;
    font: bold 12px '微软雅黑', Tahoma, Arial;
}
.item h2 span big {
    font-size: 28px;
}
.item h2 small, .item .right small {
    color: #aaa;
    font: normal 12px 'Tahoma';
    text-decoration: line-through;
}
.item h2 a, .item .action {
    position: absolute;
    top: 5px;
    right: 10px;
    text-align: center;
    color: white;
    width: 80px;
    height: 33px;
    font-weight: bolder;
    font-size: 16px;
    line-height: 33px;
}
.item h2 a:hover, .item .action:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
    color: white;
    text-decoration: none;
}
.item .qqg {
    background-position: 0 0;
}
.item .yjs {
    background-position: 0 -34px;
}
.item .yqg {
    background-position: 0 -68px;
}
.item .wks {
    background-position: 0 -102px;
}

.item .post, .item .vip, .item .gai, .item .danpin {
    display: inline-block;
    height: 17px;
    margin-left: 5px;
    vertical-align: text-bottom;
}
.item .post {
    width: 26px;
    background-position: 0 -136px;
}
.item .gai {
    width: 26px;
    background-position: 0 -154px;
}
.item .vip {
    width: 34px;
    background-position: 0 -172px;
}
.item .danpin {
    width: 40px;
    background-position: 0 -190px;
}
.item div .danpin {
    float: right;
    margin-right: 15px;
}
.item .right .danpin {
    margin-left: 30px;
    vertical-align: baseline;
}
.item .danpin:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.item .sns-share {
    margin: 10px 0;
}
.item .sns-share b {
    margin-left: 10px;
    vertical-align: -7px;
    *vertical-align: -5px;
}

.item div {
    display: none;
    width: 290px;
    padding: 10px;
    border: solid #e66;
    border-width: 0 2px 2px 2px;
    color: #aaa;
    line-height: 20px;
    background-color: #f4f4f4;
    position: relative;
    top: 0;
    left: -2px;
    _position: absolute;
    _top: 313px;
}
.item-hover div {
    display: block;
}
.item h3 span {
    color: #555;
}
.item div p {
    color: #333;
    padding: 5px 0;
    border-top: 1px dotted #c5c5c5;
}
.item div p span {
    color: #aaa;
}
#single-item {
    margin: 20px 0;
    padding: 10px 0;
}
@media (max-width: 650px) {
    #single-item {
        width: 314px;
    }
    #single-item .right {
        display: block;
    }
}
#single-item h1 a {
    font-weight: bold;
}
#single-item .left {
    display: inline-block;
}
#single-item .sns-share {
    text-align: center;
}
#single-item .right {
    vertical-align: top;
    display: inline-block;
    width: 290px;
    padding: 10px;
    line-height: 30px;
}
#single-item h3 span {
    font-size: 14px;
}
#single-item p {
    color: #9c7e6f;
    border: 1px solid #f8f3f0;
    background-color: #fcfaf9;
    font: normal 14px/30px '宋体';
}
#single-item .action {
    display: inline-block;
    position: static;
    margin-top: 10px;
}

/* pagination */
#pagination {
    margin: 1em 0;
}
#pagination a, #pagination span {
    display: inline-block;
    margin: 5px 3px;
    padding: 5px 12px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#pagination a {
    color: #929292;
    text-decoration: none;
    background-color: #e3e3e3;
}
#pagination a.on {
    color: white;
    font-weight: bold;
    background-color: #f39;
}
#pagination a:hover {
    color: white;
    background-color: #f39;
}
#pagination span.on {
    color: #f39;
    font-weight: bold;
    background-color: #ffdcee;
}

#footer {
    padding: 2em 1em;
    color: white;
    background-color: #444;
    border-top: 1px solid #525252;
}
#footer span {
    display: inline-block;
}
#footer span a {
    color: white;
    display: block;
    margin-top: 10px;
}
#footer .footer-logo {
    display: inline-block;
    width: 290px;
    height: 60px;
    background: no-repeat url(/img/logo_white.png?v=20131022.1);
    vertical-align: bottom;
    margin: 0 10%;
}
@media (max-width: 500px) {
    #footer .footer-logo {
        margin: 0 2%;
    }
}
#footer div {
    color: #aaa;
    display: block;
    margin-top: 2em;
}
#footer div span {
    margin-right: 1em;
    white-space: nowrap;
}
#footer div small {
    margin-left: 2em;
    white-space: nowrap;
}
#footer div sub {
    display: none;
}
#footer div sub a {
    color: #aaa;
}
body object {
    display: none;
}
tkbox {
    margin: 3em auto;
}
