# vim: filetype=conf
server {
    server_name www.izheko;

    set  $app_root /home/bughou/projects/izheko.cn/web;
    root $app_root/public;

    error_page 404 /404.html;

    location = / {
        try_files /index.html /item_list.do;
    }

    location / {
        index index.html;
        try_files $uri $uri/ =404;
    }

    location ~ \.html$ {
        try_files $uri $uri/ @fastcgi;
    }

    set  $fastcgi   127.0.0.1:9000;
    location ~ \.do$ {
        fastcgi_pass $fastcgi;
    }

    location @fastcgi {
        fastcgi_pass $fastcgi;
    }

    include fastcgi_params;
    fastcgi_param	SCRIPT_NAME		/index.php;
    fastcgi_param	SCRIPT_FILENAME		$app_root/index.php;
}
