# vim: filetype=nginx
server {
    server_name manage.izheko;

    set  $app_root /home/bughou/projects/izheko.cn/manage;
    root $app_root/public;

    auth_basic protection;
    auth_basic_user_file $app_root/tmp/htpasswd;

    error_page 404 /404.html;

    location = / {
        try_files /index.html /index.do;
    }

    location ~ ^/(.+)\.do$ {
        try_files /../controller/$1.controller.php =404;
        #if (!-e $app_root/controller/$1.controller.php) { return 404; }

        fastcgi_pass 127.0.0.1:9000;

        include fastcgi_params;
        fastcgi_param	DOCUMENT_URI		/$1.do;
        fastcgi_param	SCRIPT_NAME		/index.php;
        fastcgi_param	SCRIPT_FILENAME		$app_root/index.php;
    }
}
